<!DOCTYPE html>
<!-- version 1.0 -->
<html>
<head>
  <title><%= t('head.title') %></title>
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=La+Belle+Aurore' rel='stylesheet' type='text/css'>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/app.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-45162295-1', 'vcdwriting.com');
    ga('send', 'pageview');
  </script>

</head>
<body data-spy="scroll" data-target="#nav" data-offset="100">

  <header id="nav" class="navbar navbar-default navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">
      <div class="navbar-header">
        <a href="../" class="navbar-brand"><%= t('navigation.logo') %></a>
      </div>
      <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav pull-right">
          <li>
            <a href="#about"><%= t('navigation.about') %></a>
          </li>
          <li>
            <a href="#projects"><%= t('navigation.blogging') %></a>
          </li>
          <li>
            <a href="#copywriting"><%= t('navigation.copywriting') %></a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="container">
    <div id="about" class="row about">

      <div class="col-md-3 col-sm-4 hidden-xs">
        <div class="picture lg visible-lg"></div>
        <div class="picture md visible-md"></div>
        <div class="picture sm visible-sm"></div>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <p class='language_picker'>
          <a Href='/'>English</a> | <a href='/es'>Español</a>
        </p>

        <div class="about_blurb">
          <%= t('about') %>
        </div>

        <ul class="links">
          <li class="twitter">
            <a target="_blank" href="https://twitter.com/vcasalda" title="<%= t('tooltips.twitter') %>">
              <i class="icon-twitter"></i>
            </a>
          </li>
          <li class="linkedin">
            <a target="_blank" href="http://www.linkedin.com/pub/victoria-casal-data/5b/417/b74" title="<%= t('tooltips.linkedin') %>">
              <i class="icon-linkedin"></i>
            </a>
          </li>
          <li class="pinterest">
            <a target="_blank" href="http://www.pinterest.com/vcasalda/" title="<%= t('tooltips.pinterest') %>">
              <i class="icon-pinterest"></i>
            </a>
          </li>
          <li class="googleplus">
            <a target="_blank" href="https://plus.google.com/u/0/115680260273360040598/posts" title="<%= t('tooltips.google_plus') %>">
              <i class="icon-google-plus"></i>
            </a>
          </li>
          <li class="email">
            <a target="_blank" href="mailto:victoriacasaldata@gmail.com" title="<%= t('tooltips.email') %>">
              <i class="icon-envelope"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

<div class="big_picture new_idea"></div>

  <div class="container">

    <div id="projects" class="row projects">
      <div class="col-md-12">
        <h4>
          <%= t('blogging.header') %>
        </h4>
      </div>
      <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 one">
        <div class="project">
          <a target="_blank" href="http://beautifuldecay.com/"></a>
        </div>
        <p>
          <%= t('blogging.block_one') %>
        </p>
      </div>
      <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 two">
        <div class="project">
          <a target="_blank" href="http://artatbay.com/"></a>
        </div>
        <p>
          <%= t('blogging.block_two') %>
        </p>
      </div>
      <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 three">
        <div class="project">
          <a target="_blank" href="http://hifructose.com/"></a>
        </div>
        <p>
          <%= t('blogging.block_three') %>
        </p>
      </div>
    </div>
  </div>

<div class="big_picture hallway"></div>
  <div class="container">

    <div id="copywriting" class="row samples">
      <div class="col-md-12">
        <h4><%= t('copywriting.header') %></h4>
        <p class="copywriting-blurb"><%= t('copywriting.info') %></p>
      </div>
      <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 four">
        <div class="project">
          <a href="http://copywritingservicespro.com/author/victoriacasal/" target="_blank"></a>
        </div>
        <p>
          <%= t('copywriting.block_one') %>
        </p>
      </div>

      <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 five">
        <div class="project">
          <a href="http://www.usforacle.com/digimazing-puts-students-art-on-screen-1.2552614#.UmhqIpTk80P" target="_blank"></a>
        </div>
        <p>
          <%= t('copywriting.block_two') %>
        </p>
      </div>

      <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 six">
        <div class="project">
          <a href="http://newportricheyfloristinc.com/category/new-port-richey-florist-florida/" target="_blank"></a>
        </div>
        <p>
          <%= t('copywriting.block_three') %>
        </p>
      </div>
    </div>
  </div>

<div class="big_picture wire"></div>
  <footer>
    <div class="container">
      <div class="row copy">
        <div class="col-md-12">
          <p>
            <%= t('copyright') %>
          </p>
        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="/assets/js/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/assets/js/app.js"></script>
</body>
</html>
